.profile-options {
    position: absolute;
    background-color: aqua;
    margin-top: 2rem;
    border-radius: 1rem;
    transition: 1s;
}
.login-p {
    font-size: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
}
.user-name-p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.profile-options button {
    font-size: 2rem;
    width: 14rem;
    border-radius: 0.5rem;
    margin: 1rem;
}